<h1>Đây là index của Person</h1>
<form asp-action="Index">
    <label> Nhập Tên </label>
    <input type="text" name="FullName">
    <input type="submit" value="Send">
</form>
<h1>@ViewBag.thongbao</h1>