<h1> Đây là index của Student</h1>
<form asp-action="Index">
    <label>Nhập tên</label>
    <input type="text" name="Name">
    <Label>Nhập địa chỉ</Label>
    <input type="text" name="Adress">
    <input type="submit" value="Gửi">
</form>
<h1>@ViewBag.thongbao</h1>