<form asp-action="Giaiptb2">
    <label>Nhap he so A: </label>
    <input type="text" name="hesoA">
    <br>
    <label>Nhap he so B: </label>
    <input type="text" name="hesoB">
    <br>
    <label>Nhap he so C: </label>
    <input type="text" name="hesoC">
    <br>
    <input type="submit" value="Giải phương trình">
</form>
<h2>@ViewBag.gpt</h2>
